<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
    <title>KDF trading</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    {% include 'site/includes/head.twig' %}
    <link rel="stylesheet" type="text/css" href="/assets/css/site/index.css">
</head>
<body>

{% include 'site/includes/header.twig' %}


<div class="simple-page login">
    <div class="title">
        <h2>Смена пароля</h2>
    </div>

    <div class="content">

        {% if errors is not empty %}
            <div class="errors-block">
                <h4>Возникли ошибки:</h4>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if success is not empty %}
            <p>Пароль успешно изменен</p>
            <a href="/user/login" class="button">Перейти на страницу авторизации</a>
        {% else %}
            <form action="/user/update-password" method="post">
                <input type="hidden" name="active_hex" value="{{ active_hex }}"/>
                <input id="password1" type="password" name="password" placeholder="Новый пароль" value="" required>
                <input id="password2" type="password" name="confirm_password" placeholder="Подтверждение пароля"
                       value="" required>
                <button type="submit" name="submit" class="button">Сменить пароль</button>
            </form>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }

    function validatePassword() {
        let pass2 = document.getElementById("password2").value;
        let pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Пароли не совпадают");
        else
            document.getElementById("password2").setCustomValidity('');
    }
</script>

{% include 'site/includes/footer.twig' %}




