{% include 'admin/includes/header.twig' %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Панель администратора
            <small>Главная страница</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin/"><i class="fa fa-file-text"></i>Главная страница</a></li>
        </ol>
    </section>
    <section class="content">
    </section>
</div>
{% include 'admin/includes/footer.twig' %}

