<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
    <title>KDF trading</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    {% include 'site/includes/head.twig' %}
    <link rel="stylesheet" type="text/css" href="/assets/css/site/index.css">
</head>
<body>

{% include 'site/includes/header.twig' %}

<div class="simple-page not-found">
    <div class="title">
        <h2>Страница не найдена</h2>
    </div>

    <div class="content">
        <p>Страница, которую вы запросили, не найдена. попробуйте вернуться <a href="#" onclick="history.back();">назад</a> или на <a href="./">главную</a> и повторить попытку.</p>
    </div>
</div>

{% include 'site/includes/callbackform.twig' %}
{% include 'site/includes/footer.twig' %}


