<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
    <title>KDF trading</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    {% include 'site/includes/head.twig' %}
    <link rel="stylesheet" type="text/css" href="/assets/css/site/index.css">
</head>
<body>

{% include 'site/includes/header.twig' %}

<div class="simple-page about">
    <div class="title">
        <h2>Уведомление об использовании файлов cookie</h2>
    </div>

    <div class="content">

        <p>Наш сайт, как и большинство других, использует файлы cookie и другие похожие технологии (веб-маяки, пиксельные тэги и т. п.), чтобы предоставлять услуги, наиболее отвечающие вашим потребностям, а также накапливать статистическую информацию для анализа и улучшения наших услуг и сайтов.</p>
        <p>Настоящее Уведомление об использовании cookie-файлов (далее — «Уведомление») является частью Политики о конфиденциальности.</p>
        <p>При использовании данного сайта, вы подтверждаете свое согласие на использование файлов cookie и других похожих технологий в соответствии с настоящим Уведомлением.</p>
        <p>Если вы не согласны, чтобы мы использовали данный тип файлов, вы должны соответствующим образом установить настройки вашего браузера или не использовать наш сайт (подробнее — в разделе «Как управлять файлами cookie»).</p>
        <h3>Что такое файл cookie и другие похожие технологии</h3>
        <p>Файл cookie представляет собой небольшой текстовый файл, сохраняемый на вашем компьютере, смартфоне или другом устройстве, которое вы используете для посещения сайта.</p>
        <p>Некоторые из посещенных страниц могут также собирать информацию, используя пиксельные тэги и веб-маяки, представляющие собой электронные изображения, называемые одно-пиксельными (1×1) или пустыми GIF-изображениями.</p>
        <p>Файлы cookie могут размещаться на вашем устройстве нами («собственные» файлы cookie) или другими операторами (файлы cookie «третьих лиц»).</p>
        <p>Мы используем два вида файлов cookie на сайте: «cookie сессии» и «постоянные cookie». Cookie сессии — это временные файлы, которые остаются на устройстве пока вы не покинете сайт. Постоянные cookie остаются на устройстве в течение длительного времени или пока вы вручную не удалите их (как долго cookie останется на вашем устройстве будет зависеть от продолжительности или «времени жизни» конкретного файла и настройки вашего браузера).</p>
        <p>На основании этих файлов собирается информация, помогающая оценить эффективность наших услуг и сайтов и улучшить их. Например, чтобы узнать, когда вы посещаете наш сайт, как вы им пользуетесь, как взаимодействуете с рассылкой по электронной почте и другим контентом, запомнить ваши предпочтения, предоставить защищенное и безопасное обслуживание при онлайн-транзакциях и т. п.</p>
        <p>Информация, собираемая такими файлами и технологиями, носит обобщенный характер и не связана с идентификацией отдельных пользователей.</p>
        <h3>Виды файлов cookie, которые могут использоваться на нашем сайте</h3>
        <p><b>Обязательные файлы cookie.</b>  Эти файлы cookie позволяют вам посещать сайты и использовать их функции. Их отключение усложнит функционирование сайтов и может сделать недоступными их функции и сервисы.</p>
        <p><b>Файлы cookie, относящиеся к производительности, эффективности и аналитике.</b>  Эти файлы помогают нам понять, как пользователи взаимодействуют с нашим сайтом, показывают проблемы в его работе (например, сообщения об ошибках), помогают измерять эффективность наших рекламных кампаний и оптимизировать их для пользователей.</p>
        <p><b>Функциональные файлы cookie.</b>  Они помогают запоминать индивидуальные предпочтения пользователей и персонализировать для них содержание сайта.</p>
        <p><b>Рекламные файлы cookie.</b>  Они используются для доставки целевой рекламы и помогают нам оценивать эффективность рекламных кампаний. Мы можем делиться этими файлами с соответствующими рекламными системами и площадками, где размещается наша реклама.</p>
        <p><b>Электронная почта.</b>  Мы также можем использовать технологии, позволяющие отслеживать, открывали ли вы, прочитали или переадресовывали определенные сообщения, отправленные нами на вашу электронную почту. Это необходимо, чтобы сделать наши средства коммуникации более полезными для пользователя. Если вы не желаете, чтобы мы получали сведения об этом, вам нужно аннулировать подписку посредством ссылки «Отписаться» («Unsubscribe»), находящейся внизу соответствующей электронной рассылки.</p>
        <p><b>Кнопки доступа к социальным сетям.</b>  Они используются для того, чтобы пользователи могли поделиться ссылкой на страницу в социальных сетях или сделать электронную закладку. Данные кнопки являются ссылками на веб-сайты социальных сетей, принадлежащих третьим лицам, которые, в свою, очередь могут фиксировать информацию о вашей активности в интернете, в том числе на нашем сайте. Пожалуйста, ознакомьтесь с соответствующими условиями использования и политикой конфиденциальности таких сайтов для понимания того, как они используют ваши данные, и того, как можно отказаться от использования ими ваших данных или удалить их.</p>
        <p><b>Сторонние веб-сервисы.</b> Иногда на данном сайте мы используем сторонние веб-сервисы. Например, для отображения тех или иных элементов (изображения, видео, презентации и т. п.), организации опросов, оплаты товаров и услуг через платежные системы и т. п. Как и в случае с кнопками доступа к социальным сетям, мы не можем препятствовать сбору этими сайтами или внешними доменами информации о том, как вы используете содержание сайта.</p>
        <h3> Как управлять файлами cookie?</h3>
        <p>Большинство интернет-браузеров изначально настроены на автоматический прием файлов cookie.</p>
        <p>Вы можете изменить настройки вашего браузера таким образом, чтобы блокировать файлы cookie или предупреждать вас о том, когда они будут отправляться к вам на устройство (обратитесь к руководству использования конкретного браузера).</p>
        <p> Если вы используете несколько устройств и (или) браузеров для доступа в интернет, соответствующие настройки должны быть изменены в каждом из них.</p>
        <h3>Изменение условий использования файлов cookie</h3>
        <p>По собственному усмотрению мы можем периодически изменять настоящее Уведомление.</p>
        <p>Изменения в Уведомлении вступают в силу с момента публикации новой редакции на сайте. Факт использования вами нашего сайта после внесения соответствующих изменений означает ваше согласие на принятие новой редакции Уведомления.</p>
        <p>Мы рекомендуем периодически перечитывать настоящее Уведомление для ознакомления с его актуальной редакцией.</p>

        <div class="clear"></div>
    </div>
</div>

{% include 'site/includes/callbackform.twig' %}
{% include 'site/includes/footer.twig' %}
</body>
</html>