{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="pull-right">
            <button type="submit" form="form-option" data-toggle="tooltip" title="Сохранить" class="btn btn-primary"><i class="fa fa-save"></i></button>
            <a href="/admin/user" data-toggle="tooltip" title="Вернуться" class="btn btn-stile"><i class="fa fa-reply"></i></a>
        </div>
        <h1>Пользователи</h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="col-lg-12 correct">
                <div class="login-form">
                    <h4>Удалить пользователя "{{ user.name }}"</h4>

                    <p>Вы действительно хотите удалить эту пользователя?</p>

                    <form action="/admin/user/delete" method="post">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="submit" name="submit" class="btn btn-stile" value="Удалить"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


{% include 'admin/includes/footer.twig' %}