{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Панель администратора
            <small>Клиенты, запросившие прайс-лист</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">Клиенты, запросившие прайс-лист</li>
        </ol>
    </section>

    <section class="content">

        <h4>Список клиентов, запросивших прайс-лист</h4>

        <table class="table-bordered table-striped table">
            <tr>
                <th>Имя
                    <form action="/admin/catalog-order" method="post">
                        <input type="hidden" name="order" value="name">
                        <input type="submit" class="btn btn-filter" value="&darr;">
                    </form>
                </th>
                <th>Компания
                    <form action="/admin/catalog-order" method="post">
                        <input type="hidden" name="order" value="company">
                        <input type="submit" class="btn btn-filter" value="&darr;">
                    </form>
                </th>
                <th>Почта
                    <form action="/admin/catalog-order" method="post">
                        <input type="hidden" name="order" value="email">
                        <input type="submit" class="btn btn-filter" value="&darr;">
                    </form>
                </th>
                <th>Дата заказа прайс-листа
                    <form action="/admin/catalog-order" method="post">
                        <input type="hidden" name="order" value="created_at">
                        <input type="submit" class="btn btn-filter" value="&darr;">
                    </form>
                </th>
            </tr>
            {% for client in clientList %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.company }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
</div>

{% include 'admin/includes/footer.twig' %}

