<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">
<head>
    <title>KDF trading</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    {% include 'site/includes/head.twig' %}
    <link rel="stylesheet" type="text/css" href="/assets/css/site/index.css">
</head>
<body>

{% include 'site/includes/header.twig' %}


<div class="simple-page portfolio">
    <div class="title">
        <h2>Портфолио</h2>
    </div>

    <div class="content photo-list">
        {% for photo in photoList %}
            <div class="block one-photo">
                <div class="image" style="background-image: url('/upload/images/portfolio/{{ photo.file_alias }}')" data-image="/upload/images/portfolio/{{ photo.file_alias }}">
                    <!--div class="description">
                        <p class="photo-title">{{ photo.name }}</p>
                    </div-->
                </div>
            </div>
        {% endfor %}

        <div class="clear"></div>
    </div>
    <div class="content">
        <a href="#" class="button show-more">Показать ещё</a>
    </div>
</div>

<div class="big-image">
    <div class="shadow">
        <div class="content">
            <img src="#" alt="" class="big-image-image">
            <div class="close">&#10006;</div>
        </div>
    </div>
</div>


{% include 'site/includes/callbackform.twig' %}
{% include 'site/includes/footer.twig' %}


<script>
    $(document).ready(function () {
        $('.photo-list').on('click', '.image', function(e){
            $('.big-image-image').attr('src', $(this).attr('data-image'));
            $('body').css({"overflow":"hidden"});
            $('.big-image').show('slow');
        });

        $('.big-image .close').click(function () {
            $('.big-image').hide('slow');
            $('body').css({"overflow":"auto"});
        });

        $(document).mouseup(function (e){
            var div = $(".big-image .content");
            if (!div.is(e.target)
                && div.has(e.target).length === 0) {
                $('.big-image').hide('slow');
                $('body').css({"overflow":"auto"});
            }
        });
    });
</script>

<script>
    $(function() {
        $('.show-more').click(function(e) {
            e.preventDefault();
            let count = $('.one-photo').length;
            $.ajax({
                url: '/portfolio/show-more/' + count,
                type: 'GET',
                success: function(res) {
                    $('.photo-list').append(res);
                },
                error: function() {
                },
            });
        });
    });

    $(document).ready(function() {
        let lastPage = {{ lastPage }};
        if (lastPage) {
            $('.show-more').hide();
        }
    });
</script>
