{% for photo in photoList %}
    <div class="block one-photo">
        <div class="image" style="background-image: url('/upload/images/portfolio/{{ photo.file_alias }}')" data-image="/upload/images/portfolio/{{ photo.file_alias }}">
            <!--div class="description">
                <p class="photo-title">{{ photo.name }}</p>
            </div-->
        </div>
    </div>
{% endfor %}

<script>
    $(document).ready(function() {
        let lastPage = {{ lastPage }};
        if (lastPage) {
            $('.show-more').hide();
        }
    });
</script>