{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="pull-right">
            <button type="submit" form="form-option" data-toggle="tooltip" title="Сохранить" class="btn btn-primary"><i class="fa fa-save"></i></button>
            <a href="/admin/category" data-toggle="tooltip" title="Вернуться" class="btn btn-stile"><i class="fa fa-reply"></i></a>
        </div>
        <h1>Категории</h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="col-lg-12 correct">
                {% if productExist %}
                <div class="login-form">
                    <h4>Невозможно удалить категорию - "{{ category.name }}"</h4>
                    <p>Невозможно удалить категорию в которой существую товары - необходимо удалить все товары, относящиеся к категории {{ category.name }} </p>
                    <p>В случае, если Вы не хотите, чтобы категория и ее товары отображались на сайте достаточно изменить статус категории на "Скрыта"</p>
                </div>
                {% else %}
                <div class="login-form">
                    <h4>Удалить категорию "{{ category.name }}"</h4>

                    <p>Вы действительно хотите удалить эту категорию?</p>

                    <form action="/admin/category/delete" method="post">
                        <input type="hidden" name="id" value="{{ category.id }}">
                        <input type="submit" name="submit" class="btn btn-stile" value="Удалить"/>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>


{% include 'admin/includes/footer.twig' %}