{% include 'admin/includes/header.twig' %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="pull-right">
            <a href="/admin/language" data-toggle="tooltip" title="Отменить" class="btn btn-stile"><i class="fa fa-reply"></i></a>
        </div>
        <h1>
            Панель администратора
            <small>Удаление языка</small>
        </h1>
    </section>
    <section class="content">
        <div class="container-fluid">
            {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            <div class="col-lg-12 correct">
                <div class="login-form">
                    <h4>Удалить язык "{{ language.name }}"</h4>

                    <p>Вы действительно хотите удалить этот язык?</p>

                    <form action="/admin/language/delete" method="post">
                        <input type="hidden" name="id" value="{{ language.id }}">
                        <input type="submit" name="submit" class="btn btn-stile" value="Удалить"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'admin/includes/footer.twig' %}