<div class="simple-page callbackform">
    <div class="content index-form">
        <h2>Заказать прайс-лист</h2>
        <h3>Пришлем Вам на почту полный прайс-лист с актуальными ценами</h3>
        <form id="send-catalog-form">
            <input type="text" id="send-catalog-name" name="name" placeholder="Имя" required>
            <input type="text" id="send-catalog-company" name="company" placeholder="* Название комании">
            <input type="email" id="send-catalog-email" name="email" placeholder="Email" required>
            <button class="button">Получить</button>
        </form>
        <p class="additional">Поля помеченные * не обязательны для заполнения</p>
    </div>
</div>