<section class="subscribe-position">
    <div class="container">
        <div class="subscribe text-center">
            <h3 class="subscribe__title">{{ content.subscribe_title }}</h3>
            <p>{{ content.subscribe_description }}</p>
            <div id="mc_embed_signup">
                <form id="subscribe"class="subscribe-form form-inline mt-5 pt-1">
                    <div class="form-group ml-sm-auto">
                        <input class="form-control mb-1" type="email" name="email" id="email"
                               placeholder="{{ content.your_email }}">
                        <div class="info"></div>
                    </div>
                    <a href="#" class="button button-subscribe mr-auto mb-1">{{ content.subscribe_now }}</a>
                    <div style="position: absolute; left: -5000px;">
                        <input name="" tabindex="-1" value="" type="text">
                    </div>
                </form>
            </div>
        </div>
        <div class="comment-message-box">
            <div class="content">
                <p class="text"></p>
                <div class="close">&#10006;</div>
            </div>
        </div>
        <style>
            .footer-area {
                padding: 120px 0 120px;
            }
        </style>
    </div>
</section>
