{% extends "site/layout.twig" %}

{% block content %}
    <section class="blog-banner-area" id="blog">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Отзывы</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Отзывы</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="comment_area">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for comment in commentList %}
                        <article class="row comment_item">
                            <div class="col-md-12">
                                <div class="comment_details">
                                    <h2>{{ comment.user_name }}</h2>
                                    <p><b>{{ comment.created_at }}</b></p>
                                    <p>{{ comment.description }}</p>
                                </div>
                            </div>
                            {% for image in comment.images %}
                                <div class="col-6 col-sm-4 col-md-3 col-lg-2 comment_image">
                                    <img src="/upload/images/comment/{{ image.file_alias }}" alt=""/>
                                </div>
                            {% endfor %}
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class="justify-content-center d-flex">
                <a href="#" class="button show-more">Показать ещё</a>
            </div>
            <div class="comment-form">
                <div class="alert alert-warning comment-form__alert" role="alert" style="display: none;">
                    <strong>Не заполнены обязательные поля!</strong> <br>
                    Пожалуйста, заполните все обязательные поля: имя, адрес электронной почты и текст отзыва
                </div>
                <h4>Leave a Reply</h4>
                <form id="comment-form__form">
                    <div class="form-group form-row">
                        <div class="form-group col-lg-6 col-md-6">
                            <input type="text" class="form-control" name="user_name" id="user_name"
                                   placeholder="Enter Name">
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <input type="email" class="form-control" name="user_email" id="user_email"
                                   placeholder="Enter email address">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-8 col-md-8">
                            <textarea class="form-control mb-10" rows="5" name="description" id="description"
                                      placeholder="Messege"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="comment-form__files">
                                <label>
                                    <input id="upload-files" type="file" name="file[]" multiple/>
                                    <span>Выберите файлы</span>
                                </label>
                            </div>
                            <div id="file-preview-table">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="button comment-form__button button--active">Post Comment</a>
                </form>
            </div>
        </div>
    </section>
    <div class="comment-message-box">
        <div class="content">
            <p class="text"></p>
            <div class="close">&#10006;</div>
        </div>
    </div>
    <style>
        .footer-area {
            padding: 120px 0 120px;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script src="/assets/js/site/comment.js"></script>


    <script>
        $(document).ready(function () {
            $('.article-image').click(function () {
                $('.big-image-image').attr('src', $(this).attr('src'));
                $('body').css({"overflow": "hidden"});
                $('.big-image').show('slow');


            });

            $('.big-image .close').click(function () {
                $('.big-image').hide('slow');
                $('body').css({"overflow": "auto"});
            });

            $(document).mouseup(function (e) {
                var div = $(".big-image .content");
                if (!div.is(e.target)
                    && div.has(e.target).length === 0) {
                    $('.big-image').hide('slow');
                    $('body').css({"overflow": "auto"});
                }
            });
        });
    </script>

{% endblock %}